.hero-bg {
  background-image: url('../imgs/bg_feuerloescher.avif');
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;
}

.bg-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1rem;
  border-radius: 0.5rem;
}
